# Class 1

# Variable

In [2]:
# Variable is a container that stores value or values 
# It can be change when the operations are performed on it

# Some rules to create varibale

# Variable name can not start with a digit
# For ex- 1a = 10 #wrong

# there is no spaces are allowed in variable name
# student name  = "Madrid" # wrong

# student_name = "Madrid"

# python is case sensitive
# a = 10
# A = 10

# automatic memeory allocation 
a = 10 
id(a)

# keywordsa are never used as an varibale name
# they are known as "reserved" keywords

140729505487576

# Operators

In [ ]:
# Arithmetic
# Comparision
# Assignment
# Logical Operator
# Bitwise


# Airthmetic
# +, -, *, /, //, %,**

In [5]:
a = 100
b = 23

# a+b
# a-b
# a/b
# a%b
# a//b     #  floor division
# a**b

10000000000000000000000000000000000000000000000

# Output Function

In [10]:
# print()
# msg

# print("Hello World!!!")

# for value of the variable

# a = 12
# print(a)

# Msg with value

b = 100
print("the value is :",a)

the value is : 12

In [11]:
# Declaration
a = 12
b = 21
# logic
c = a + b
# output
print(c)
print("the sum is :",c)

33
the sum is : 33

In [13]:
# Simple Interset
p = 100
r = 4.5
t = 3
si = (p * r * t)/100
print("the interset is :",si)

the interset is : 13.5

In [15]:
# average
a = 1 
b = 2 
c = 3
d = (a + b + c)/3
print("The average is:",d)

# P --- Parenthesis
# E -- Exponenet
# M --- Mutliplucation 
# D --- Division
# A --- Addition
# S --- Subtraction

The average is: 2.0

In [17]:
# calculator percentage 
p = 56
c = 52
d = 45
e = 65
average = (p + c + d + e)/4
percentage = (average *100)/100
print("the percentage is :",percentage)

the percentage is : 54.5

In [18]:
# input ----- Runtime Values

# Integer ---- int(input("Enter the number"))

# Decimal ---- float(input("Enter the number"))

# String or charactor --- input("Msg")


a = 10
type(a)

int

In [21]:
b = 45.5
type(b)

float

In [22]:
c = "Hello"
type(c)

str

In [23]:
a = [1,2,3]
type(a)

list

In [24]:
b = (12,13,14)
type(b)

tuple

In [25]:
c = {"a","b","c"}
type(c)

set

In [27]:
d = {"a": 1,"b": 2,"c": 3}
type(d)

dict

In [29]:
# Runtime values :
# sum of two numbers

a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
Sum_of_Two_Numbers = (a+b)
print("The sum is :",Sum_of_Two_Numbers)

The sum is : 24

In [33]:
Principal = int(input("Enter the Principal Number"))
Rate = int(input("Enter the Rate Number"))
Time = int(input("Enter the time"))

Simple_Interset = (Principal * Rate * Time)/100

print("The Simple Interset is :",Simple_Interset)
type(Simple_Interset)

In [2]:
a = float(input("Enter the First Number"))
b = float(input("Enter hte Second Number"))
c = float(input("Enter the third Number"))

Average = (a+b+c)/3
print("The average of third Numbers :",Average)

The average of third Numbers : 2.0

In [4]:
Maths = int(input("Enter the Maths Marks"))
Chemestry = int(input("Enter the Chemsetry Marks"))
Physics = int(input("Enter the Physics Marks"))
English = int(input("Enter the English Marks"))
Hindi = int(input("Enter the Hindi Marks"))

Percentage = ((Maths + Chemestry + Physics + English + Hindi) * 100) / 500

print("The Percentage of Five Subjects are :",Percentage)

The Percentage of Five Subjects are : 95.2

In [6]:
import math
a = math.sqrt(int(input("Enter the Number")))
print(a)

1.4142135623730951

In [10]:
# pow(base,exponent)
a = int(input("Enter the base Number"))
b = int(input("Enter the power Number"))
cal_power = math.pow(a,b)
print(cal_power)

100.0

In [16]:
# Comparision Operator

#  == 
    #  What is Differnce Between = and ==

# a = 10
# a == 10

# <
# >
# <=
# >=

a = int(input("Enter the Number"))
b = int(input("Enter the Number"))
print("a==b",a==b)
print("a>=b",a>=b)
print("a<=b",a<=b)
print("a!=b",a!=b)
print("a>b",a>b)
print("a<b",a<b)

a==b False
a>=b True
a<=b False
a!=b True
a>b True
a<b False

# Class - 2

# Conditional Statements

In [13]:
# if ------ only if
# if then else
# if elif ladder from 
# nested if



# if ------ only if
#  if condition:
        # statement
# For ex-:  
n = int(input("Enter the number"))
if n > 0:
    print("+ve number")
if n < 0:
    print("-ve Number")
if n == 0:
    print("Number itself is zero")

# if then else
# if conditon:
#     statement
# else:
#     statement

# for ex:-
n = int(input("Enter the Number"))
if n % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")



Year = int(input("Enter the Year"))
if Year % 4 == 0:
    print("This is a Leap Year")
else:
    print("Not a Leap Year")


age = int(input("Enter your age"))
if age >=18:
    print("You are eligible")
else:
    print("You are not eligible")

+ve number
Even Number
This is a Leap Year
You are eligible

In [14]:
#  Change to positive Number if -ve then being entered

n = int(input("Enter the Number"))
if n<0:
    print(n*(-1))
else:
    print(n)

5

In [15]:
# If elif ladder from
# if conditon:
#     statement
# elif condition:
#     statememt
# else:
#     statement



# For ex:-
Day = int(input("Enter the Number between 1 to 7 :"))
if Day == 1:
    print("SUN")
elif Day == 2:
    print("MON")
elif Day == 3:
    print("TUE")
elif Day == 4:
    print("WED")
elif Day == 5:
    print("THU")
elif Day == 6:
    print("FRI")
elif Day == 7:
    print("SAT")
else:
    print("INVALID Number")

THR

In [16]:
p = float(input("Enter the P marks"))
c = float(input("Enter the c marks"))
m = float(input("Enter the m marks"))
e = float(input("Enter the e marks"))
h = float(input("Enter the h marks"))

per = ((p + c + m + e + h)*100)/500

if per >= 60:
    print("First Div")
elif per >=45:
    print("Second Div") 
elif per >= 33:
    print("Third Div")
else:
    print("Fail")

First Div

In [18]:
# Logical Operator

# and --- all conditions must be true
# or --- any of them condition is true

# For ex-: Greatest Number among the three of them
a = int(input("Enter the First Number "))
b = int(input("Enter the Second Number"))
c = int(input("Enter the Third Number"))

if a > b and a > c :
    print(a,"Greatest Number among the three of them")
elif b > a and b > c:
    print(b, "Greater then a and c")
else:
    print(c,"Greater then a and b")

7 Greater then a and c

In [22]:
# Check vowel or consonants

ch = input("Enter the Alphabet")
# if ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u':
#     print("Vowels Alphabets")
# elif ch == 'A' or ch == 'E' or ch == 'I' or ch == 'O' or ch == 'U':
#     print("Vowles Alphabets")
# else:
#     print("Consonants")

# Easy Way

if ch in ['a','e','i','o','u','A','E','I','O','U']:
    print("Vowels")
else:
    print("Consonants")

Consonants

In [34]:
# Traffic Lights
traffic_light = input("Enter the light \n r for Red \n y for Yellow \n g for Green")

if traffic_light == 'r' or traffic_light == 'R':
    print("STOP")
elif traffic_light == 'y' or traffic_light == 'Y':
    print("READY")
elif traffic_light == 'g' or traffic_light == 'G':
    print("Go")
else:
    print("Pay Chalan")



# if traffic_light in ['r','y','g','R','Y',"G"]:
#     print("Traffic Light")
# else:
#     print("Not the Traffic Light")

STOP

In [33]:
Length = int(input("Enter the Length"))
Breath = int(input("Enter the Breadth"))

if Length == Breath:
    print("This is a Square")
    print("The area of the square is :",Length ** 2)
else:
    print("This is a recatangle")
    print("The area of the rectange :",Length * Breath)

This is a recatangle
The area of the rectange : 6

In [10]:
Hungry = bool(int(input("Enter 1 for True or 0 for False: ")))
if Hungry:
    print("Feed Me!")
else:
    print("Don't Feed Me!")

Don't Feed Me!

In [48]:
loc = input("Enter the Auto Shop \n Bank \n Store")
if loc == 'Auto Shop':
    print("Cars are cool")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store")
else:
    print("I do not Know so much")

Cars are cool

# Class 3

In [4]:
# Nested Loop

a = int(input("Enter the Number"))
b = int(input("Enter the Number"))
c = int(input("Enter the Number"))

if(a>b):
    if(a>c):
        print(a,"a is greatest")
    else:
        print(c,"c is greatest")
else:
    if(b>c):
        print(b,"b is greatest")
    else:
        print(c,"c is greatest")

9 c is greatest

In [7]:
# Loop statements

# While loop --- Interview
# For loop --- For Projects

# Syntax

# var_intitalization  // From where to start
# While condition: // where to stop
    # statement / logic
    # inc / decr


# print your names


i = 0
while(i < 10):
    print("Nirmit Malik")
    i+=1

Nirmit Malik
Nirmit Malik
Nirmit Malik
Nirmit Malik
Nirmit Malik
Nirmit Malik
Nirmit Malik
Nirmit Malik
Nirmit Malik
Nirmit Malik

In [8]:
# print first Natural Number
i = 1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [11]:
# Print First Natural Number
i = 10
while(i>0):
    print(i,end=" ")
    i-=1

10 9 8 7 6 5 4 3 2 1

In [14]:
i = 1
sum = 0
while(i <= 10):
    sum+=i
    i+=1
print(sum)

55

In [24]:
i = 1
while(i <= 100):
    if(i % 2 != 0):
        print(i,end = " ")
    i+=1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [33]:
# Print the sum of all even Numbers and odd Number

i = 1
s_e = 0
s_o = 0
while(i<=100):
    if(i%2 == 0):
        s_e+=i
    else:
        s_o+=i
    i+=1
print("Sum from 1 to 100 of all even Numbers is :",s_e ," &  Sum from 1 to 100 all odd Numbers are :", s_o)

Sum from 1 to 100 of all even Numbers is : 2550  &  Sum from 1 to 100 all odd Numbers are : 2500

In [8]:
# Table of the Given Number
a = int(input("Enter the Given Number"))
i = 1
while(i <= 10):
    print(a,"*",i,"=",a*i)
    i+=1

3548464546416516468415641541655641651561 * 1 = 3548464546416516468415641541655641651561
3548464546416516468415641541655641651561 * 2 = 7096929092833032936831283083311283303122
3548464546416516468415641541655641651561 * 3 = 10645393639249549405246924624966924954683
3548464546416516468415641541655641651561 * 4 = 14193858185666065873662566166622566606244
3548464546416516468415641541655641651561 * 5 = 17742322732082582342078207708278208257805
3548464546416516468415641541655641651561 * 6 = 21290787278499098810493849249933849909366
3548464546416516468415641541655641651561 * 7 = 24839251824915615278909490791589491560927
3548464546416516468415641541655641651561 * 8 = 28387716371332131747325132333245133212488
3548464546416516468415641541655641651561 * 9 = 31936180917748648215740773874900774864049
3548464546416516468415641541655641651561 * 10 = 35484645464165164684156415416556416515610

In [12]:
# Factors of the Given Number

a = int(input("Enter the Number"))
i=1

while(i<=a):
    if(a%i == 0):
        print(i,end=",")
    i+=1

1,2,4,13,26,52,

In [30]:
# Factorial of the Given Number
a = int(input('Enter the given Number'))
fact = 1
i = 1
# while(a>0):
#     i = i * a
#     a-= 1
# print(i)

while(i<=a):
    fact = fact * i
    i += 1
print(fact)

6

In [24]:
# Count of the given Number

a = int(input("Enter the Number"))
i=1
counter = 0

while(i<=a):
    if(a%i == 0):
        counter+=1
    i+=1
if counter == 2:
    print("Given Number is a prime Number")
else:
    print("Given Number is not a prime Number")

Given Number is a prime Number

In [26]:
# Sum of a digit of a Number
a = int(input("Enter the Number"))
sum = 0
while(a > 0):
    rem = a % 10
    sum += rem
    a = a // 10
print("the sum is :",sum)

the sum is : 7

In [34]:
# Reverse of a Number
a = int(input("Enter the Number"))
rev = 0
while(a > 0):
    rem = a % 10
    rev = rev*10 + rem
    a = a // 10
print("the reverse of a Number :",rev)

the reverse of a Number : 4321

# Class 4

In [2]:
# Palidrome Number
n = int(input("Enter the Number"))
rev = 0
n1 = n
while(n>0):
    rem = n %10
    rev = rev*10+ rem
    n = n//10
if n1 == rev:
    print("Palindrome Number")
else:
    print("Not a palindrome Number")

Palindrome Number

In [ ]:
# ArmstrongNumber for 3 digits ---- 153,370,371,407
n = int(input("Enter the number"))
sum = 0
n1 = n
while(n > 0):
    rem = n % 10 
    sum += rem**3
    n = n// 10
if sum == n:
    print("Aremstrong Number")
else:
    print("Not a Armstrong Number")

In [5]:
# ArmstrongNumber for n digits ----- 548834
n = int(input("Enter the Number"))
sum = 0
counter = 0
n1 = n
n2 = n
while(n > 0):
    rem = n % 10
    counter +=1
    n = n//10
while(n1 > 0):
    rem = n1 % 10
    sum += rem**counter
    n1 = n1 // 10
if n2 == sum:
    print("Armstrong Number")
else:
    print("Not a Armstrong")

Armstrong Number

# For Loop

In [10]:
# for i in "DataScience":
    # print(i)
# for i in [12,2,24,43,3]:
    # print(i)
# for i in (12,34,54,65,75):
    # print(i)
# for i in {23,43,53,54,54}:
    # print(i)
# for i in {"Name":"Dev","Age":"12"}:
    # print(i)



# Range Function

# range(10)----- 0 to 9
# range(1,14) --- 1 to 13
# range(1,100,5) --- 1,6,11,16,21,26

for i in range(100,1,-5):
    print(i,end =",")

100,95,90,85,80,75,70,65,60,55,50,45,40,35,30,25,20,15,10,5,

In [12]:
# print your Name 10 times

for i in range(1,10):
    print("Nirmit Malik",end=" ")

Nirmit Malik Nirmit Malik Nirmit Malik Nirmit Malik Nirmit Malik Nirmit Malik Nirmit Malik Nirmit Malik Nirmit Malik

In [14]:
# Print first 10 Natural Number
for i in range(1,11):
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,

In [17]:
# 1 t0 100 even Numbers
for i in range(1,101):
    if(i % 2 == 0):
        print(i,end =",")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [21]:
# Sum of even Numbers
sum_e = 0
sum_o = 0
for i in range(1,101):
    if(i%2 == 0):
        sum_e +=i
    else:
        sum_o +=i
print(sum,"Sum of even Numbers")
print(sum_o,"Sum of odd Numbers")

2550 Sum of even Numbers
2500 Sum of odd Numbers

In [22]:
# sum of the digits
n = int(input("Enter the Number"))

sum = 0
for i in range(1,n):
    sum += i
print(sum)

7503

In [28]:
n = int(input("Enter the Number"))
for i in range(1,n+1):
    if (n % i == 0):
        print(i,end=" ")

1 2 3 6

In [29]:
n = int(input("Enter the Number"))
for i in range(1,11):
    print(n*i,end =" ")

2 4 6 8 10 12 14 16 18 20

In [53]:
# Find a Prime Number
n = int(input("Enter the Number"))
counter = 0
for i in range(1,n+1):
    if(n%i==0):
        counter+=1
    else:
        continue
if(counter == 2):
    print("Prime Number")
else:
    print("Not a prime Number")

Not a prime Number

In [44]:
a = (1,2,5,56,51)
for i in a:
    if(i%2 == 0):
        print(i)
    else:
        print("Tata Bye Bye !!!")

Tata Bye Bye !!!
2
Tata Bye Bye !!!
56
Tata Bye Bye !!!

In [46]:
string = 'IIIT Delhi'
for i in string:
    print(i,end="$")

I$I$I$T$ $D$e$l$h$i$

In [48]:
a = "Hello Everyone how are you"
vowel = ["a","e","i","o","u"]
for i in a:
    if i in vowel:
        print(i)

In [50]:
word ="hello1"
for w in word:
    if w=="l":
        print("Good one")
else:
    print("Data Science")

Good one
Good one
Data Science

In [52]:
name = "arpit"
for i in name:
    if i == 'p':
        print("that's great")
    print(i)
    print("hello")
print(i)

a
hello
r
hello
that's great
p
hello
i
hello
t
hello
t

In [56]:
name = "arpit"

for i in name:
    if i=='r':
        print("hii")
    print(i)

a
hii
r
p
i
t

In [57]:
# palindrome Number -- by for loop
for i in range(11,1000):
    n = i
    rev = 0
    while(n>0):
        rem = n%10
        rev = rev*10 + rem
        n = n//10
    if rev == i:
        print(i,end =" ")

11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [58]:
# Armstrong Number -- 3 digit
for i in range(101,1000):
    n = i
    s = 0
    while(n > 0):
        rem = n %10
        s += rem**3
        n = n//10
    if s == i:
        print(i,end=" ")

153 370 371 407

In [8]:
# Armstrong Using 'for' loop
n = int(input("Enter the Number"))
n1 = str(n)
n2 = n
n3 = n
count = 0
sum = 0
for i in range(len(n1)):
    count+=1
print(count)
while(n2 > 0):
    rem = n2 % 10
    sum += rem**count
    n2 = n2 // 10
if n3 == sum:
    print("Armstrong Number")
else:
    print("Not a Armstrong Number")

3
Armstrong Number

# Class 5 --- List

In [1]:
# Array --- It's a Homogenous data structure
# List -- Sequenced Data Structure
# Hetreogenous 
# Ordered or indexed
# "Mutable"
# enclosed in []


# Example:-
# ls = [] ---- Empty List
# ls = [12,23,34,45,56] ---- integer
# ls = ['a','e','i','o','u'] --- String
# ls = [12.3,4.6,75.8]  --- Float
# ls = [112,23,34.5,"Hello"] -- mixed

# print(ls)


# By using a constructor

ls = list("Hello")
print(ls) #Output --- ['h','e','l','l','o']
ls = list((12,23,34,45))
print(ls) #Output ----- [12,23,34,45]

# Accesing the list elements
ls =[11,22,33,44,55,66,77]
print(ls[5])
print(ls[-2])


# Asscesing in Nested Loop:-
ls = [12,23,34,45,[67,78,89,98,[98,867,76]],56,[87]]
print(ls[3])  #45
print(ls[4])  #[67,78,89,98,[98,867,76]]
print(ls[4][3])  # 98
print(ls[4][4])  # [98,867,76]
print(ls[4][4][1])  # 867


# Updation:-
ls = [12,23,34,45,56]
print(ls)
ls[2] = "hello"
print(ls)

In [19]:
# Slice Operator --- ":"
ls = [12,23,34,45,56,67,78,89,98]
print(ls[3:8]) # 3 4 5 6 7 --- index
print(ls[:8]) # from begining --- 7
print(ls[3:]) # start from 3 end to the last
print(ls[:] )# from the begining to start
print(ls[-1:-4:-1]) # ls[start : stop : step]

[45, 56, 67, 78, 89]
[12, 23, 34, 45, 56, 67, 78, 89]
[45, 56, 67, 78, 89, 98]
[12, 23, 34, 45, 56, 67, 78, 89, 98]
[98, 89, 78]

In [41]:
# Muli-Updation
ls = [12,23,34,45,56,67,78,89,98]
print(ls)
ls[3:6] = ["hello","hii","yellow"]
print(ls)

[12, 23, 34, 45, 56, 67, 78, 89, 98]
[12, 23, 34, 'hello', 'hii', 'yellow', 78, 89, 98]

In [15]:
# Delete the Operation --- del(Not a method),pop,remove
ls = [12,23,34,45,56,67,78,89,98]
print(ls)
del(ls[3])
print(ls)
del(ls[3:5])
print(ls)

[12, 23, 34, 45, 56, 67, 78, 89, 98]
[12, 23, 34, 56, 67, 78, 89, 98]
[12, 23, 34, 78, 89, 98]

In [6]:
# pop()
ls = [12,23,34,34,45,56,67,78,89,98]
ls.pop(3)
print(ls)
ls.pop()
print(ls)

# remove()
# ls.remove(34)
# print(ls)

[12, 23, 34, 45, 56, 67, 78, 89, 98]
[12, 23, 34, 45, 56, 67, 78, 89]

In [33]:
# List Methods
# append() -- 
ls =  [12,23,34,45]
ls.append("Hello")
print(ls)

[12, 23, 34, 45, 'Hello']

In [37]:
# Make list of 10 integers
ls = []
for i in range(1,11):
    n = int(input("Enter the Number"))
    ls.append(n)
print(ls)

[1, 2, 3, 4, 5, 5, 5, 8, 7, 45]

In [39]:
ls = []
for i in range(1,11):
    n = int(input("Enter the Number"))
    ls.append(n)
ls_e = []
ls_o = []
for i in ls:
    if (i%2 == 0):
        ls_e.append(i)
    else:
        ls_o.append(i)
print(ls_e,ls_o)

[2, 4, 6, 8, 10] [1, 3, 5, 7, 9]

In [40]:
ls_e = []
ls_o = []
for i in range(1,11):
    n = int(input("Enter the Number"))
    if (i%2 == 0):
        ls_e.append(i)
    else:
        ls_o.append(i)
print(ls_o,ls_e)

[1, 3, 5, 7, 9] [2, 4, 6, 8, 10]

In [50]:
# Find the Maximum element in the list
ls = [12,2,85,777,45]
# for i in range(1,11):
#     n = int(input("Enter the Number"))
#     ls.append(n)
a = ls[0]
for i in ls:
    if(i>a):
        a = i
print(ls)
print(a)

[12, 2, 85, 777, 45]
777

In [51]:
# Find the Minimum element in the list
ls = [12,2,85,777,45]
# for i in range(1,11):
#     n = int(input("Enter the Number"))
#     ls.append(n)
a = ls[0]
for i in ls:
    if(i<a):
        a = i
print(ls)
print(a)

[12, 2, 85, 777, 45]
2

In [1]:
# Extend Method -- it is used to insert more than one element in the list at a time.
# elements are always inserted at the end of the list.

ls = [12,23,34,45,56,67,78,89]
print(ls)
ls.extend([111,222,333])
print(ls)


# A = [1,2,3,4,5]
# B = [6,7,8,9,10]

# C = A.extend(B)
# print(c)

[12, 23, 34, 45, 56, 67, 78, 89]
[12, 23, 34, 45, 56, 67, 78, 89, 111, 222, 333]

# Class 6 List

In [2]:
# Insert Operation---- Inserting the element in tbe list at the desired index
ls = [12,23,34,45,56,67,78,89]
ls.insert(3,"Hello Nirmit")
print(ls)

[12, 23, 34, 'Hello Nirmit', 45, 56, 67, 78, 89]

In [4]:
# without copy() ---- 
x = [12,23,34,45]
y = x
print(id(x))   # address
print(id(y))
y[2] = "Nirmit"
print(x)
print(y)

2458930900416
2458930900416
[12, 23, 'Nirmit', 45]
[12, 23, 'Nirmit', 45]

In [5]:
#  With copy() ----- 
x = [12,23,34,45]
y = x.copy()
print(id(x))   # address
print(id(y))
y[2] = "Nirmit"
print(x)
print(y)

2458930627904
2458930829824
[12, 23, 34, 45]
[12, 23, 'Nirmit', 45]

In [6]:
# clear ---- return empty list
ls = [12,23,34,45]
print(ls)
ls.clear()
print(ls)

[12, 23, 34, 45]
[]

In [13]:
# count function
ls = [12,23,23,34,45]
x = ls.count(23)
print(x)

2

In [16]:
ls = [1,2,2,3,4]
ls_u = []
for i in ls:
    if i not in ls_u:
        ls_u.append(i)
    else:
        continue
print(ls_u)

[1, 2, 3, 4]

In [3]:
ls = [1,2,2,3,4]
ls_u = []
for i in ls:
    if i not in ls_u:
        ls_u.append(i)
    else:
        continue
print(ls)
print(ls_u)
for i in ls_u:
    print(i,"is repeated for",ls.count(i),"times")

[1, 2, 2, 3, 4]
[1, 2, 3, 4]
1 is repeated for 1 times
2 is repeated for 2 times
3 is repeated for 1 times
4 is repeated for 1 times

In [25]:
ls = [1,2,2,3,3,4]
print(ls)
ls_u = list(set(ls))
print(ls_u)

[1, 2, 2, 3, 3, 4]
[1, 2, 3, 4]

In [27]:
# Index() method ---- it return the index of first occurance of the element in the list
ls = [12,2,2,23,34,45,56]
print(ls)
x = ls.index(2)
print(x)

[12, 2, 2, 23, 34, 45, 56]
1

In [37]:
# sort method
ls =[12,23,34,555,1,4]
print(ls)
ls.sort(reverse=True)
print(ls)

[12, 23, 34, 555, 1, 4]
[555, 34, 23, 12, 4, 1]

In [4]:
# reverse Method
ls =[12,23,34,555,1,4]
print(ls)
# ls.reverse()
# print(ls)
print(ls[::-1])

[12, 23, 34, 555, 1, 4]
[4, 1, 555, 34, 23, 12]

In [44]:
L = ["Amit","Sumit","Naina"]
print(L[1:-1])

['Sumit']

In [45]:
L = ["Nirmit","Nihar"]
print(L*2)

['Nirmit', 'Nihar', 'Nirmit', 'Nihar']

In [49]:
L = [0.5 * x for x in range(4)]
print(L)

[0.0, 0.5, 1.0, 1.5]

In [52]:
L = ['a' * x for x in range(4)]
print(L)

['', 'a', 'aa', 'aaa']

In [61]:
T =[1,2,3,4]
T1 = [5,6,7]
L = T.append(T1)
print(L)

None

In [2]:
ls = [1,2,3,4,2,5]
ls_u = []
for i in range(len(ls)):
    if ls.count(ls[i]) > 1:
        ls_u.append(i)
    else:
        continue
print(ls_u)

[1, 4]

# Class - 7 (String)

Python - String
In Python, string is an immutable sequence data type. It is the sequence of Unicode characters wrapped inside single, double, or triple quotes.

'This is a string in Python' # string in single quotes
"This is a string in Python" # string in double quotes
'''This is a string in Python''' # string in triple quotes
"""This is a string in Python""" # string in triple double-quotes

In [4]:
str1 = 'This is a string'
print(str1)

str2 = """This is a 
multiple string"""
print(str2)

str3 = 'single string'
print(str3)

This is a string
This is a
multiple string
single string

In [6]:
greet = 'hello'
print(greet[0])
print(greet[1])
print(greet[2])
print(greet[3])
print(greet[4])
print(greet[::-1])

h
e
l
l
o
olleh

In [ ]:
# print(greet[0] = 'A') ---- TypeError

In [14]:
a = 1234
print(type(a))
b = str(a)
print(type(b))

<class 'int'>
<class 'str'>

In [19]:
b = "hello"
c = b.capitalize()
print(c)

Hello

In [22]:
str = "Hiii NIrmIt"
print(str.count('i'))
print(str.count('I'))
print(str.swapcase())

3
2
hIII niRMiT

In [26]:
str = "Nirmitmalik18108677@gmail.com"
print(str.endswith('.com')) # Always return TRUE or FALSE
print(str.startswith('n'))

True
False

In [31]:
# find() Method
a = 'Hello '
b = a.find(' ')
print(b)

5

In [33]:
# index()
a = 'hello'
b = a.index('l')
print(b)

2

In [52]:
a ="12345"
c = a.isalnum()
d = a.isspace()
e = a.isdigit()
print(c)
print(d)
print(e)

True
False
True

In [67]:
a = 'oihoidsfld'
g = 'HE$$$LLO'
h = 'hello'
b = a.isupper()
d = g.lower()
r = h.upper()
print(b)
print(d)
print(r)

False
he$$$llo
HELLO

In [63]:
a = 'Aree'
b = a.istitle() # Only first alphabet is to be captial
print(b)

True

In [75]:
a = 'Hellogg'
b = a.lstrip()
l = a.strip('gg')
g = a.rstrip()
print(b)
print(g)
print(l)

Hellogg
Hellogg
Hello

In [83]:
a = 'Hello ji Hello ji'
b = a.partition('ji') # It always break into 3 pieces and return into tupple
m = a.rpartition('ji')
print(b)
print(m)

('Hello ', 'ji', ' Hello ji')
('Hello ji Hello ', 'ji', '')

In [86]:
a = 'Hello ji Hello ji'
b = a.split('H') # The word that we split with is not present and return the list
print(b)

['', 'ello ji ', 'ello ji']

In [87]:
a = 'Hi every one ji ji'
b = a.split(' ',2)
print(b)

['Hi', 'every', 'one ji ji']

# Class 8 - String

In [1]:
str1 = ('Happy','Monday','Everyone')
print(str1)

('Happy', 'Monday', 'Everyone')

In [6]:
s1 = 'Hello'
s2 = 'Asif'
s3 = s1 + " " +s2
print(s3)

Hello Asif

In [9]:
mystr1 = "Hello Everyone"
print('Hello' in mystr1)
print('Everyone' in mystr1)
print('Hi' in mystr1)

True
True
False

In [3]:
str1 = "******Hello********Everyone**********"
# print(str1.strip('*'))
# print(str1.rstrip('*'))
# print(str1.lstrip('*'))
str = str1[11:18].replace("*",".")
print(str)

.......

In [26]:
mystr1 = '   HEllo Everyone      '
mystr2 = mystr1.replace(" ","")
print(mystr2)

HElloEveryone

In [33]:
str2 = "one two three one two three"
print(str2.startswith('one'))

True

In [6]:
item1 = 20
item2 = 60
item3 = 40
print("Cost of item3, item2 and item1 are {2},{1} and {0}".format(item1,item2,item3))

Cost of item3, item2 and item1 are 40,60 and 20

In [7]:
str2 = "Welcome Everyone"
str2 = str2.center(100)
print(str2)

                                          Welcome Everyone

In [10]:
str2 = "Welcome Everyone"
str2 = str2.rjust(50,'*') #This is for shifting the str2 by 50 times of '*'
print(str2)

**********************************Welcome Everyone

In [15]:
str2 = '1234567'
str3 = 'Hello'
print(str2.isdecimal())
print(str3.isdecimal())

True
False

In [16]:
# Tupple

# Sequenced data structure
# Enclosed in ()
# indexed , ordered
# "immutable"--- can not be change once created
# Ques --- What is the diference betweeen list and tuple ?
# Ans -- list is mutable and tuple is immutable 
# immutable -- can not be change once created

t1 = (12,23,34,45,56,67)
t1  = ("How","are","you") 
t1 = ((1,2),(3,4))  # nested tuple


# Tuple constructor
t1 = tuple("Nirmit")
t1

('N', 'i', 'r', 'm', 'i', 't')

In [4]:
t1 = 12,23,34,45,56,67,78 # packing
print(type(t1))

a,b,c,d,e,f,g = t1 # unpacking
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

<class 'tuple'>
12
23
34
45
56
67
78

In [20]:
t2 = (1)
print(type(t2)) # int
t2 = (1,2)
print(type(t2)) # int

<class 'int'>
<class 'tuple'>

In [22]:
# Accessing
t1 = (12,23,34,45,56,67)
print(t1[5])

67

In [27]:
# Updating
t1 = (12,23,34,45,56)
t2 = ("How","are","you")
print(t1 + t2)

(12, 23, 34, 45, 56, 'How', 'are', 'you')

In [31]:
# index() method
t1 = (12,23,34,45,56)
print(t1)
x = t1.index(23)
print(x)

(12, 23, 34, 45, 56)
1

In [34]:
# First answer is that tuple is immutable so we cannot update but still we have to do then convert tupple into index and then again convert it to tuple
t1 = (1,2,3,4,5)
ls = list(t1)
ls.append(6)
t1 = tuple(ls)
print(t1)

(1, 2, 3, 4, 5, 6)

In [44]:
# Update an element in the tuple
t1 = (12,23,34,45,56,67,78)
ls = list(t1)
ls[2]  ="Hii"
t1 = tuple(ls)
print(t1)

(12, 23, 'Hii', 45, 56, 67, 78)

In [43]:
# insert an element in the tuple
t1 = (12,23,34,45,56,67,78)
ls = list(t1)
ls.insert(2,"Hii")
t1 = tuple(ls)
print(t1)

(12, 23, 'Hii', 34, 45, 56, 67, 78)

In [42]:
# Sorting
mytuple = (23,34,63,3,5,666,99)
a = sorted(mytuple)
print(tuple(a))

(3, 5, 23, 34, 63, 99, 666)

In [53]:
# Sets

# Unordered and Unindexed collection of items
# Set elements are unoque.Duplicate elements are not allowed
# Set elements are immutable(cannot be changed)
# Set itself is mutable.We can add or remove items from it

myset = {1,2,3,4}
myset.add(10)
myset.update({5,6,7})
print(myset)

# myset = {10,20,"Hola,[1,2,3,4]} ---- It will through an error because list cann't be contain in set

{1, 2, 3, 4, 5, 6, 7, 10}

In [54]:
myset = set()
print(type(myset))

<class 'set'>

# Class 9 ---- Dictionary

In [1]:
# The Dictionary is an unordered collection that contains key : value parits sepatesated by commas inside curly brackets.Dictionaries are optimized to retrieve value when the key is know

# The following declares a dictionaly object:
captials  = {"USA":'"Washington D.C',"France":"Paris","India":"New Delhi"}
print(type(captials))

<class 'dict'>

In [14]:
d = {}  #empty dicitonary
numNames = {1 : "One",2:"Two",3:"Three",4 : "Four"}
print(numNames)
items = {("Parker","Reynolads"):"pen",("apsara","Doms"):"Pencil"}
print(items)

numNames = {1 : "One", 2 :"Two",1 : "one",2:"two",3:"Three"}
print(numNames)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}
{('Parker', 'Reynolads'): 'pen', ('apsara', 'Doms'): 'Pencil'}
{1: 'one', 2: 'two', 3: 'Three'}

In [17]:
# Dictionary Constructor method
num_dict = dict(I = "one",II = "Two",III = "Three")
print(num_dict)
num = dict([(1,"One"),(2,"Two")])
print(num)

{'I': 'one', 'II': 'Two', 'III': 'Three'}
{1: 'One', 2: 'Two'}

In [30]:
# Use the get() method to retieve the key's value even if keys are not known.It returns None if the key does not exist instead of rasinig an error.

num_dict = dict(I = "one",II = "Two",III = "Three")
num = {"Name":"Nirmit","Age":"22","city":"Meerut"}
print(num["Name"])
print(num_dict)
print(num_dict["I"])
print(num.get("Name"))
print(num_dict.get("III"))

Nirmit
{'I': 'one', 'II': 'Two', 'III': 'Three'}
one
Nirmit
Three

In [36]:
# Asccesing through loops
d1 = {1 : "One",2:"Two",3 : "THree",4 : "Four"}
# printing keys
for i in d1:
    print(i)

# printing value
for i in d1.values():
    print(i)

# printing key,value 
for i,j in d1.items():
    print(i,j)

for i in d1:
    print("key =",i,",","value =",d1[i])

1
2
3
4
One
Two
THree
Four
1 One
2 Two
3 THree
4 Four
key = 1 , value = One
key = 2 , value = Two
key = 3 , value = THree
key = 4 , value = Four

In [41]:
# Update Dictionary -- As mentioned earlier the key cannoit appear more than once.use the same key ad sassogm a mew value to it to update the dictionary object.
d1 = {"Name":"Nirmit","Age":"12","city":"Meerut"}
d1["Address"] = "Burari"
d1["Name"] = "Nihar"
print(d1)

{'Name': 'Nihar', 'Age': '12', 'city': 'Meerut', 'Address': 'Burari'}

In [43]:
# Deleting value -- Use the del keytword,pop(), or popitem() methodds to delete a pari rom a dictionary or the dictionary object itself.to delete a pari,use its key as parameter.To delete a dictionary object itself,use del dictioany_name

captains = {'India':'Rohit','Australia':'Cummins','Sri lanka':'Mendis'}
print(captains)
del captains['Sri lanka']
print(captains)

{'India': 'Rohit', 'Australia': 'Cummins', 'Sri lanka': 'Mendis'}
{'India': 'Rohit', 'Australia': 'Cummins'}

In [45]:
d1 = {'a':1,'b':2,'c':3,'d':4,'e':5}
del d1['b']
print(d1)
print(d1.pop('c'))
print(d1)
print(d1.popitem())
print(d1)

{'a': 1, 'c': 3, 'd': 4, 'e': 5}
3
{'a': 1, 'd': 4, 'e': 5}
('e', 5)
{'a': 1, 'd': 4}

In [46]:
# Multi- Dimensional Dictioanry
d1 = {'Name':'Steve','age':25,'marks':60}
d2 = {'Name':'Anil','age':23,'marks':75}
d3 = {'Name':'Asha','age':20,'marks':70}
students = {1:d1, 2:d2, 3:d3}
print(students[1])
print(students[2])
print(students[3])

{'Name': 'Steve', 'age': 25, 'marks': 60}
{'Name': 'Anil', 'age': 23, 'marks': 75}
{'Name': 'Asha', 'age': 20, 'marks': 70}

In [48]:
# clear() method -- The dict.clear() method removes all the key-alue paits form the dictionary
# Syntax:
# dict.clear()

romNums = {'I':1,'II':2,'III':3,'IV':4}
print(romNums)
romNums.clear()
print(romNums)

{'I': 1, 'II': 2, 'III': 3, 'IV': 4}
{}

In [49]:
# Without Copy() Method:
d1 = {'a':1,'b':2,'c':3,'d':4}
d2 = d1
print(d1)
print(d2)
d1.clear()
print(d1)
print(d2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{}
{}

In [50]:
# With Copy() Method:
d1 = {'a':1,'b':2,'c':3,'d':4}
d2 = d1.copy()
print(d1)
print(d2)
d1.clear()
print(d1)
print(d2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [54]:
# fromkeys() Method: 
# syntax:- dictionary.fromkeys(sequence,value)

keys = {'Mumabi','Banglore','Chicago','New York'}
# value = 'city'
dictionary  = dict.fromkeys(keys)
print(dictionary)

{'Banglore': None, 'New York': None, 'Chicago': None, 'Mumabi': None}

# Class 10 -- More Practice on Dictionary and Starting of Function

In [3]:
# dict.keys()

romans = {'I' : 1,'II' : 2,'III' : 3 ,'IV' : 4}
print(romans.keys())

dict_keys(['I', 'II', 'III', 'IV'])

In [9]:
# dict.values()

romans = {'I' : 1,'II' : 2,'III' : 3 ,'IV' : 4}
print(romans.values())

dict_values([1, 2, 3, 4])

In [8]:
# dict.update(iterable)

x = {'I':1,'III':3,'V':5}
y = {'II':2,'IV':4}
x.update(y)
print(x)

{'I': 1, 'III': 3, 'V': 5, 'II': 2, 'IV': 4}

In [12]:
mydict = {'Name':'Asif','ID':12345,'DOB':1999,'job':'Data Science'}
mydict

'job' in mydict # Test if a key is in a dictionary or not.

True

In [11]:
'Asif' in mydict  # Memebership test can be done for keys

False

In [14]:
# All / Any 
# All --- True ---- if all the keys of te dictionary are true
#         False ---- if any key of the dictionary is false

mydict = {'Name':'Asif','ID':12345,'DOB':1999,'job':'Data Science'}

all(mydict) # will return false as one key is false

True

In [15]:
any(mydict) # will return True as we have items in the dictionay with True value

True

In [16]:
mydict = {'Name':'Asif','ID':12345,'DOB':1999,'job':'Data Science',0:'test1'}
all(mydict)

False

In [17]:
any(mydict)

True

In [18]:
# Dictionary Comprehension

double = {i : i**2 for i in range(10)}
double

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [19]:
key = ['one','two','three','four']
value = [1,2,3,4]
double = {k:v for (k,v) in zip(key,value)}
double

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [22]:
mydict1 = {'a':10,'b':20,'c':30,'d':40}
mydict1 = {k:v/10 for (k,v) in mydict1.items()}
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0}

In [23]:
str = 'abcdefghijklmnopqrstuvwyz'
str1 = {i:i.upper() for i in str}
str1

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'y': 'Y',
 'z': 'Z'}

# Fucntions

In [ ]:
# Parameter And Argument :--

# A parameter is the variable listed inside the parentheses in the fucntion definition
# An argument is the value that is sent to the function when it is called.

# Types of function:--
# 1) Built in Built in Functions
# 2) User Defined Functions
# 3) Anonymous Functions

# Default Function 
# argument
# return type
# placeholder
# args,kwargs

# Syntax:-
# def function_name():  # Function Definition
#     logic
# function_name()

In [26]:
# Sum of two numbers :-

def sum_of_two_numbers():
    x = int(input("Enter the First Number"))
    y = int(input("Enter the Second Number"))
    z = x + y
    print(z)
sum_of_two_numbers()

5

In [29]:
def simple_interset():
    p = int(input("Enter the principal"))
    r = int(input("Enter the rate"))
    t = int(input("Enter the time"))
    si = (p * r * t)/100
    print("interset is ",si)
simple_interset()

interset is  60000.0

In [30]:
def even_odd():
    n = int(input("Enter the Number"))

    if(n % 2 == 0):
        print("Even Number")
    else:
        print("Odd Number")
even_odd()

Odd Number

In [32]:
def leap_year():
    n = int(input("Enter the year"))
    if (n % 400 == 0):
        if(n % 100 != 0 and n % 4 ==0):
            print("Leap Year")
    else:
        print("Not a Leap Year")
leap_year()

Not a Leap Year

In [33]:
def factorial():
    n = int(input("Enter the Number"))
    f = 1
    for i in range(1,n+1):
        f = f*i
    print(f)
factorial()

120

In [43]:
def reverse_number():
    n = int(input("Enter the Number"))
    rev = 0
    while(n > 0):
        rem = n % 10
        rev = rev*10 + rem
        n = n // 10
    print(rev)
reverse_number()

123

In [32]:
def factorize():
    n = int(input("Enter the Number"))
    for i in range(1,n+1):
        if(n % i == 0):
            print(i)
factorize()

1
2
4
8

In [46]:
# Argument Function:
# def function_name(para1,para2....):
#     logic
# function_name(arg1,arg2)


def addition(a,b):
    c = a + b
    print("Sum of two Numbers" ,c)
addition(23,34)
x = int(input())
y = int(input())

addition(x,y)

Sum of two Numbers 57
Sum of two Numbers 5

In [49]:
def odd_even(n):
    if(n %2==0):
        print("Even Number")
    else:
        print("Odd Number")
odd_even(34)

Even Number

In [1]:
# Find the sum of the Number using the function
def sum_of_a_Number(n,sum):
    while(n>0):
        rem = n % 10
        sum +=rem
        n = n // 10
    print(sum)
sum_of_a_Number(1234,0)

10

In [11]:
# Find the Palidrome using the function
def palidrome(n,rev):
    n1 = n
    while(n>0):
        rem = n % 10
        rev = rev*10 + rem
        n = n // 10
    if n1 == rev:
        print("palidrome Number")
    else:
        print("Not a Palidrome Number")
palidrome(11122111,0)

palidrome Number

In [29]:
# Find Armstrong Number using function 
def armstrong(n,sum,counter):
    n1 = n
    while(n>0):
        rem = n % 10
        counter = counter + 1
        n = n // 10
    while(n>0):
        rem = n % 10
        sum = sum + rem ** counter
        n = n // 10
    if(sum == n1):
        print("Armstrong Number")
    else:
        print("Not a Armstrong Number")
armstrong(8208,0,0)

Armstrong Number

In [15]:
# Find the samllest element in the list using the function'def'
def smallest_number(n):
    temp = n[0]
    for i in n:
        if(temp > i):
            temp = i
        else:
            continue
    print(temp)
smallest_number([11,33,44,4,5,666,77])

4

In [1]:
# Find the largest element in the list using the function'def'
def largest_number(n):
    temp = n[0]
    for i in n:
        if(temp < i):
            temp = i
        else:
            continue
    print(temp)
largest_number([11,33,44,4,5,666,77])

666

In [11]:
def repeated_Numbers(n,m):
    for i in n:
        if i not in m:
            m.append(i)
    for i in m:
        print(i,"repeated",n.count(i),"number of times")
repeated_Numbers([1,2,2,3,4,4,5,5,5],[])

1 repeated  1 number of times
2 repeated  2 number of times
3 repeated  1 number of times
4 repeated  2 number of times
5 repeated  3 number of times

In [25]:
def Is_prime_number(n,counter):
    for i in range(1,n+1):
        if(n%i == 0):
            counter += 1 
    if counter == 2:
        print("Given Number is a Prime Number")
    else:
        print("Given Number is Not a Prime Number")
Is_prime_number(7,0)

Given Number is a Prime Number

In [5]:
def repeated_index(n,m):
    for i in range(len(n)):
        if(n.count(n[i]) > 1):
            m.append(i)
    print(m)
repeated_index([1,2,3,2,4,5],[])

[1, 3]

# Class 11(Return,enumerate,zip,lambda functions)

In [ ]:
# Return Type Function
# def function_Name(arg1,arg2,....)
#     logic/statement
#     return value/values

# var = function_Name(arg1,arg2)
# print(var)

# print(function_Name(arg1,arg2))

In [3]:
def addition(a,b):
    return a+b
c = addition(2,3)
print(c)
print(addition(2,3))

5
5

In [6]:
def mathop(a,b):
    return a+b,a-b,a*b,a//b
x = mathop(24,12)
print(x)

s,a,m,d = mathop(24,12)
print("Sum",s)
print("Sub",a)
print("Mul",m)
print("Div",d)

(36, 12, 288, 2)
Sum 36
Sub 12
Mul 288
Div 2

In [20]:
# Placeholder Argument


def addition(a,b=400,c=700):
    return a+b+c

print(addition(200))
print(addition(a=500,c=300))
print(addition(500,300))
print(addition(300,500,900))

1300
1200
1500
1700

In [14]:
def data_Science(a,b,c,d):
    return a+b,a-b
data_Science(2,1,4,5)

(3, 1)

In [16]:
def hello(a,b):
    return "My name is {} and gender is {}".format(a,b)
hello("Nirmit Malik","Male")

'My name is Nirmit Malik and gender is Male'

In [24]:
def hello(name,age=22,gender="Male"):
    return "My name is {}. My age is {} and My gender is {}".format(name,age,gender)
hello("Nirmit Malik")

'My name is Nirmit Malik. My age is 22 and My gender is Male'

In [ ]:
# Unpacking operators are operators that unpack the values from iterable objects in Python
# The Single asterisk operator * can be used on anyt iterable that python provides
# While the doule asterisk operator ** can only be used on dictionaries.

In [31]:
u = [1,2,3]
print(u)

print(*u)

[1, 2, 3]
1 2 3

In [43]:
a,b,*c = [1,2,3,4,5,6,7,8,9,10]
print(a)
print(b)
print(c)

1
2
[3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
A = [1,2,3]
B = [4,5,6]
C = [A,B]
print(C)
D = [*A,*B]
print(D)

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3, 4, 5, 6]

In [52]:
a = [*"realpython"]
b = list("realpython")
print(b)
a

['r', 'e', 'a', 'l', 'p', 'y', 't', 'h', 'o', 'n']

['r', 'e', 'a', 'l', 'p', 'y', 't', 'h', 'o', 'n']

In [55]:
d1 = {"A":1,"B":2,"C":3}
d2 = {"D":4,"E":5}
d1.update(d2)
d1

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [56]:
d3 = {**d1,**d2}
d3

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [60]:
def my_sum(*a):
    result = 0
    for i in a:
        result +=i
    return result

In [62]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
my_sum(*list1,*list2,*list3)

45

In [64]:
# Zip Functoin-- zip() function return a zip object.which is an iterot of tuples where the first item in each passed iterato is paired togther,and then the second item in each oassed iterator are paired together etc.
# if the passed iterators have different lengths,the iterator with the least items decides the length of the new iterator.


a =["John","peter","nishant"]
b = ["Jenny","ashwin"]

list(zip(a,b))

c = 'agnaslg'
d ='lkslsangsalkg'
list(zip(c,d))

[('a', 'l'),
 ('g', 'k'),
 ('n', 's'),
 ('a', 'l'),
 ('s', 's'),
 ('l', 'a'),
 ('g', 'n')]

In [75]:
num_list  = [1,2,3,3]
str_list = ["One","Two","Three","THree"]
dict(zip(str_list,num_list))

{'One': 1, 'Two': 2, 'Three': 3, 'THree': 3}

In [74]:
my_result = set(num_list)
print(my_result)

{1, 2, 3}

In [78]:
numb_list = [1,2,3]
str_list = ['One','Two']
num_tupple = ('ONE','TWO','THREE')

result  = list(zip(num_list,str_list))
print(result)

final_result = list(zip(num_list,num_tupple,str_list))
print(final_result)

[(1, 'One'), (2, 'Two')]
[(1, 'ONE', 'One'), (2, 'TWO', 'Two')]

In [2]:
# Enumerate
s1 = 'PYTHON'
dict(enumerate(s1))

{0: 'P', 1: 'Y', 2: 'T', 3: 'H', 4: 'O', 5: 'N'}

In [81]:
list(enumerate(s1,-1))

[(-1, 'P'), (0, 'Y'), (1, 'T'), (2, 'H'), (3, 'O'), (4, 'N')]

In [83]:
l1 = ["DL","ML","NLP"]
ls = list(enumerate(l1,5))
ls

[(5, 'DL'), (6, 'ML'), (7, 'NLP')]

In [84]:
b = enumerate(s1)
list(a)
list(b)
list(enumerate(l1,100))

[(100, 'DL'), (101, 'ML'), (102, 'NLP')]

In [87]:
l1 = ["DL","ML","NLP"]
for i,j in enumerate(l1):
    if i<2:
        print(j,i)

DL 0
ML 1

In [88]:
# lambda Functions
x = lambda a : a + 10 # lambda var : expression(annonymous)
x(1000)

1010

In [91]:
z = lambda a,b,c : a + b + c
z(1,2,3)

6

In [94]:
ismail = lambda a,b,c : (a*b) // c
ismail(2,3,2)

3

# Class 12 ---- Functions (If and else Lambda)

In [4]:
a = lambda x: x**2 if x%2 == 0 else x
a(6)

36

In [7]:
# Map Function

# syntax:-

# map(fun,iter)

# fun:- It is function to which map passes each element of given iterable
# iter:- It is a iterable which is to be mapped.

number = [1,2,3,4] 
list(map(lambda x : x+x,number))

[2, 4, 6, 8]

In [8]:
def addition(n):
    return (n+n)

number = [1,2,3,4,5]
list(map(addition,number))

[2, 4, 6, 8, 10]

In [8]:
n1 =  [1,2,3,7]
n2 = [4,5,6,8]
n3 = [1,3,4,5]
n4 = [2,3,4,5]

result = map(lambda x,y,z,w : x + y + z +w , n1,n2,n3,n4)
list(result)

[8, 13, 17, 25]

In [5]:
my_pets = ['alfred','tabitha','william','arla']
list(map(lambda x:x.upper(),my_pets))

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [11]:
my_strings = ['a','b','c','d','e']
my_numbers = [1,2,3,4,5]
my_name = ['xx','yy','zz','ww','dd']

result = map(lambda x,y,z:(y,x+z),my_strings,my_numbers,my_name)
list(result)

[(1, 'axx'), (2, 'byy'), (3, 'czz'), (4, 'dww'), (5, 'edd')]

In [14]:
# Filter -- To extract something from the list or etc

# Syntax: -
    # filter(function,iterable)
# filter() -- method returns an iterator that passed the fucntion check for each element in the iterable.

dromes = ['demigod','rewire','madam','freer','anutforajaroftuna','kisosk']
palidromes = set(filter(lambda x : x == x[::-1],dromes))
palidromes

{'anutforajaroftuna', 'madam'}

In [17]:
my_list = [1,5,4,7,6,9]
new_list_even = list(filter(lambda x : x % 2 == 0 , my_list))
print(new_list_even)

new_list_odd = list(filter(lambda x : x % 2 != 0 , my_list))
print(new_list_odd)

[4, 6]
[1, 5, 7, 9]

In [7]:
list1 = ['ONE','two','THREE','four']
upper = list(filter(lambda x : x.isupper(),list1))
lower = list(filter(lambda x : x.islower(),list1))

print(lower)
print(upper)

list3 = ['one','two2','three2','88','99','102','###']
numeric = list(filter(lambda x : x.isnumeric(),list3))
alpha = list(filter(lambda x : x.isalpha(),list3))
al_num = list(filter(lambda x : x.isalnum(),list3))

print(numeric)
print(alpha)
print(al_num)

['two', 'four']
['ONE', 'THREE']
['88', '99', '102']
['one']
['one', 'two2', 'three2', '88', '99', '102']

In [10]:
# Reduce Operator
dobles = [2,6,10,14,18]

from functools import reduce

def add(a,b):
    return a+b

sum_all = reduce(add,dobles)
print(sum_all)

50

In [12]:
sum_all = reduce(lambda a,b : a+b, dobles)
sum_all

50

In [20]:
import operator
d = [1,2,3,4]
product  = reduce(operator.mul,d)
print(product)

add = reduce(operator.add,d)
print(add)

concat_str = reduce(operator.add,['Python',' ', 'Rocks'])
print(concat_str)

prod = reduce(operator.mul,['Hello!! ',3])
print(prod)

min_num = reduce(lambda a,b: a if a < b else b,d)
print(min_num)

max_num = reduce(lambda a,b: a if a > b else b,d)
print(max_num)

24
10
Python Rocks
Hello!! Hello!! Hello!!
1
4

In [30]:
a = reduce(lambda a,b : bool(a and b), [0,0,1,0,1])
print(a)

b = reduce(lambda a,b : bool(a or b),[1,5,2,0,22,3])
print(b)

c = reduce(lambda a,b : bool(a and b),[1,5,2,0,22,3])
print(c)

d = reduce(lambda a,b : bool(a or b),[1,0,0,0,0,0])
print(d)

False
True
False
True

In [33]:
import pandas as pd

pd.to_datetime("09-01-2024")
print(pd.to_datetime("09-01-2024").month)
print(pd.to_datetime("09-01-2024").day)

9
1